<body>
        <div class="col-md-12">
            <div class="modal-dialog" style="margin-bottom:0">
                <div class="modal-content">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" id="password" type="password" value="">
                                </div>
                                <input type="button" id="b" value="Login">
                            </fieldset>
                        </form>
                    </div>
                    <span id="err"></span>
                </div>
            </div>
        </div>
        <hr>

        </div>

<script>

    //basic 'password protection'; not secure as it is visible client-side, but this is a placeholder until we can get passport.js working
    $("#b").click(function () {
            var password = "pigministrator";
            if ($("#password").val() !== password) {
                $("#err").text("Incorrect password");
            }
            else {
                window.location.href = "https://secure-refuge-93657.herokuapp.com/admin";
            }
        });
</script>
</body>
