<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <title>The Pig Sactuary</title>


<body>
    <div class="row">

        <div class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Add Pigs</strong></h3>
                </div>
                <div class="panel-body">
                    <form action="" method="POST" role="form">
                    
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control" id="pigNameInput" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="">Age</label>
                            <input type="text" class="form-control" id="pigAgeInput" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="">Gender</label>
                            <input type="text" class="form-control" id="pigGenderInput" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="">Image URL</label>
                            <input type="text" class="form-control" id="pigImgUrlInput">
                        </div>

                        <div class="form-group">
                            <label for="">Color</label>
                            <input type="text" class="form-control" id="pigColorInput" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="">Bio</label>
                            <input type="text" class="form-control" id="pigBioInput" placeholder="">
                        </div>

                    </form>
                    <br>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary btn-md" id="pig-submit-btn"></span> Add Pig</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>
=======
>>>>>>> test
