<body>
<div class=>
    <div class="row">
        {{#each pig}} {{#if this.isAdopted}}
        <div class="col-sm-6 col-md-3 text-center">
            <div class="thumbnail pig-container">
                <img src="{{this.pigImage}}" alt=>
                <div class="caption">
                    <h3>{{this.pigName}}</h3>
                    <div>{{this.pigBio}}</div>
                    <br/>
                </div>
            </div>
        </div>
        {{/if}}{{/each}}
    </div>
</div>
</body>
