
    <div class="row">
 <div class="col-xs-12 welcome-header">
    <center>The Arizona Pig Rescue</center>
 </div>
 </div>

    <div class="row">
      <div class="col-md-6">
        <div class="pig-welcome">
          <p>These days, there are many ways to describe the same cute little critter. Mini pigs, miniature pigs, micro mini
            pigs, dwarf pigs and pygmy pigs are but a few. More commonly known as teacup pigs, they have become one of America’s
            most popular pets within the last decade. Type “baby teacup pigs,” “mini teacup pigs” or “mini pig pet” into
            YouTube, and you’ll see videos of small pet pigs doing all sorts of adorable things. </p>
          <p>Mini pet pigs have been caught on camera play wrestling with dogs, swimming in bathtubs and kiddie pools, getting
            belly rubs, being bottle-fed and snuggling with kittens. One baby teacup pig even braved a flight of stairs to
            land in his breakfast bowl of oatmeal. It’s easy to see why tiny pigs have become popular pets, but what most
            people don’t know is that teacup pigs are a myth. Those miniscule pigs grow up and get much, much bigger than
            people bargain for.</p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="./images/teacup.jpg" class="img-responsive" />
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="./images/blkpig.jpg" class="img-responsive" />
        </div>
        <div class="col-md-6">
          <div class="pig-welcome">
            <p>As the mini-pig problem wears on, new sanctuaries continue to open—but not quickly enough. Virtually all of the
              existing ones are already at or exceeding capacity. Pigs have real emotions. Emotions you can feel and see
              for yourself. If you have never seen a pig cry, pray you never have to. Pigs probably resemble the human emotion
              the closest of any other animal. A pig will change its tone of squeal or grunt when it’s happy or sad or scared
              or upset.</p>

            <p> A pig will show remorse, a pig will show excitement and joy, a pig will show fear and a pig will show hate. Much
              like people, a pig will show you raw emotions, they do not know how to tell you that they’re sad without showing
              you tears, they can not tell you how excited they are, so instead they get the zoomies and run all over the
              place.</p>
          </div>
        </div>
      </div>
    </div>