<body>
    <div class="row">
        <div class="col-xs-12">
            <img src="/images/group.jpg" class="img-circle" style="float: left; padding: 15px"/>
            <div style="display: inline;">
            <center>
                <div class='pig-header'>
                    <h1>Who we are</h1>
                </div>
            </center>
            <div class="pig-care">
                <p>After meeing in University of Arizona Bootcamp. We decided to start an Arizona pig rescue. We became very
                    involved in environmental and animal rights issues. Helping animals of all kinds became our passion.
                    After graduating from bootcamp, we all decided to travel as a group of 3 friends. But we had become involved
                    with potbellied pigs by volunteering at another sanctuary and we were smitten.
                </p>
                <center>
                    <div class='pig-header'>
                        <h1>Why we do it </h1>
                    </div>
                </center>
                <p>
                    The number of pigs that need to be rescued are increasing in America. We are here to educate about potbelly Pigs and what
                    you can do for them. f you are anything like me, you may not know about the pig rescues all over the
                    world. I was completely blind to the fact that there was a problem. Now that I do know, I feel like it's
                    my responsibility to let others know about these people who have stepped up to help these unwanted, sometimes
                    sick or hurt pigs that no one else would take in. Please take a moment to go through this list, see if
                    any are close to you and go visit.
                </p>
                <p>Go volunteer, donate some time or money or supplies to help, if you're able.
                </p>
            </div>
            </div>
        </div>
    </div>
</body>