<body>
    <div class="row">
        <div class="col-xs-12">
            <img src="/images/group.jpg" class="img-circle" style="float: left; padding: 15px" />
            <div style="display: inline;">
                <center>
                    <div class='pig-header'>
                        <h1>Who We Are</h1>
                    </div>
                </center>
                <div class="pig-care">
                    <div class="pig-welcome">
                        <p> The three of us met in the University of Arizona Coding Bootcamp. After we bonded over our joint passion for 
                            environmental and animal rights issues, we decided to work towards helping these potbelly pigs however we could. 
                            By the time we had graduated from bootcamp, we had become involved with potbellied pigs by volunteering at another sanctuary, 
                            and we were smitten. That's when we decided to open a pig sanctuary of our own!
                        </p>
                    </div>
                    <center>
                        <div class='pig-header'>
                            <h1>Why We Do It </h1>
                        </div>
                    </center>
                    <div class="pig-welcome">
                        <p>
                            If you are anything like us, you may not have known about the myth of the teacup pig. We were completely blind to the fact that there was a problem with abandoned potbelly pigs until we did our research.
                            That's when we found out about all of the potbelly pig rescues and sanctuaries around the world!
                            We feel like it's our responsibility to let others know about the wonderful people who have stepped
                            up to help these unwanted pigs that no one else will take in.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>