<body>
    <div class="row">
        <div class="col-xs-12">
            <img src="/images/group.jpg" class="img-circle" style="float: left; padding: 15px" />
            <div style="display: inline;">
                <center>
                    <div class='pig-header'>
                        <h1>Who we are</h1>
                    </div>
                </center>
                <div class="pig-care">
                    <div class="pig-welcome">
                        <p>After meeing in University of Arizona Bootcamp. We decided to start an Arizona pig rescue. We became
                            very involved in environmental and animal rights issues. Helping animals of all kinds became
                            our passion. After graduating from bootcamp, we all decided to travel as a group of 3 friends.
                            But we had become involved with potbellied pigs by volunteering at another sanctuary and we were
                            smitten.
                        </p>
                    </div>
                    <center>
                        <div class='pig-header'>
                            <h1>Why we do it </h1>
                        </div>
                    </center>
                    <div class="pig-welcome">
                        <p>
                            The number of pigs that need to be rescued are increasing in America. We are here to educate about potbelly Pigs and what
                            you can do for them. If you are anything like us, you may not know about the pig rescues all
                            over the world. We were completely blind to the fact that there was a problem. Now that we do
                            know, we feel like it's our responsibility to let others know about these people who have stepped
                            up to help these unwanted pigs that no one else will take in.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>