<body>
<div class="row">
    <div class="col-xs-12">
        <center>
            <div class='pig-header'>
                <h1>Miniature pig care in the home, inside and out </h1>
            </div>
        </center>
        <div class="pig-care">
            <p> Providing a safe, secure and pig-proof outdoor area is not only key to keeping pigs happy, but also to keeping
                the inside of the house (and any fancy landscaping) from being destroyed. In the wild, Jen explains, pigs
                are “opportunistic scavengers” who spend the vast majority of their days rooting around in the ground searching
                for food. It’s a natural, instinctual behavior that doesn’t go away when pigs are kept indoors. If pigs can’t
                root around in the ground, they’ll turn to the next best thing, which may be the new carpet or that expensive
                couch. A bored, frustrated pig can do a lot of damage quickly. Lack of mental stimulation for a pig can also
                lead to aggressive behavior toward humans, such as charging or biting.</p>
            <p>It’s especially important to note that pigs are social creatures. In the wild, they live in communities called
                sounders. Single pigs don’t tend to do as well and develop more behavioral problems than those who live with
                other pigs. “People are often surprised that a lot of aggression issues go away if they add another pig,”
                says Jen. Another crucial part of pig care is proper feeding. Breeders often prescribe a very restrictive
                diet for piglets, claiming that it will ensure that adult teacup pigs don’t exceed their size and weight
                expectations.</p>
            <p>But these diets, designed to keep pigs as tiny as possible (and sometimes consisting of only a single food, such
                as oatmeal), often amount to starvation. Along with poor breeding practices (such as in-breeding to produce
                smaller and smaller pigs), malnutrition due to underfeeding can lead to a host of lifelong health problems
                for a miniature pig pet. Currently there are several adoptable pigs living at the Sanctuary who were once
                purchased from breeders as teacup pigs. They lost their homes when they didn’t turn out to be quite what
                their people were expecting, or they developed serious health problems.</p>

            <center>
                <div class='pig-header'>
                    <h1>Diet and nutrition for potbellied pigs </h1>
                </div>
            </center>
            <p>
                For people who already have potbellied pigs, as well as for people who are looking to adopt them, Jen says, “We do lots and
                lots of education about good diet and how to maintain a good weight and body condition.” A well-rounded diet
                is just as important for pigs as it is for people, though feeding pigs most human foods is strongly discouraged.
            </p>
            <p>
                That’s because a high percentage of people food is not only processed, but also high in fat and sodium. Pigs are very sensitive
                to these things. However, they do quite well on a vegetarian diet. At the Sanctuary, pigs enjoy a vegetarian
                diet full of fruits, veggies and greens. They also eat pellets made for pigs and formulated for lifetime
                nutrition
            </p>
            <p>
                While even the healthiest and most balanced diet can’t erase the damage caused by in-breeding or early malnutrition, it can
                put a small pig pet like Rosie on the road to better health and wellness. But as long as there is a demand
                for teacup pigs as pets, breeders will keep trying to breed and raise smaller and smaller pigs in spite of
                the harmful health effects. Meanwhile, rescue organizations, shelters and sanctuaries strain their resources
                to meet the needs of pigs who have become ill or were abandoned, or who simply need to find new homes.
            </p>
            <center>
                        <div class='pig-header'>
                            <h1>Health care for potbellied pigs </h1>
                        </div>
                    </center>

                    <p>
                        To keep your pig healthy, we recommend at least a yearly checkup with your veterinarian. If you have a male, he will need
                        regular tusk trims, for his own safety and the safety of you and others in the household. All pigs
                        need their hooves trimmed, but an active pig will typically self-trim and need human intervention
                        less often. Yearly dental checks are as important for pigs as they are for dogs, cats, horses, or
                        humans. We highly recommend spaying or neutering your pet pig, and no pig leaves our sanctuary intact.
                        </p>
                    Behavior issues for intact pigs are comparable to unaltered dogs (e.g., mounting, increased aggression and territorialism).
                    Female pigs are at a very high risk of developing ovarian and uterine cancers unless they are spayed.
                    Male pigs can develop crystals in their urine, which can lead to an emergency surgery. It is very important
                    to make sure your pigs, especially the males, are drinking enough water and urinate easily. </p>
                    <p>
                        You can add a small amount of juice to their water to entice them to drink if you find they are having very dark-colored
                        urine, or worse, are straining to urinate. We also recommend running a fecal check every six months
                        on your companion pigs to make sure they haven’t picked up any parasites.
                    </p>
        </div>
    </div>
</div>
</body>