<body>
    <div class="container">
        <div class="row">
            <center>
                <div class='pig-header'>
                    <h1>Adopt Us</h1>
                </div>
            </center>
            <div class = "col-sm-12">
            {{!-- this for-each loop lists only the pigs who have yet to be adopted(their isAdopted boolean value is false) --}}
            {{#each pig}} {{#unless this.isAdopted}}
                <div class="col-sm-6 col-md-3 text-center">
                    <div class="thumbnail pig-container">
                        <img src="{{this.pigImage}}">
                        <div class="caption">
                            <h3>{{this.pigName}}</h3>
                            <div class="bio">{{this.pigBio}}</div>
                            <br/>
                            <form method="POST" action="/adoptcontact">
                                <input type="hidden" name="pig_id" type="text" value={{this.id}}>
                                <button type="submit" class="btn btn-primary">Adopt Me</button>
                            </form>
                        </div>
                    </div>
                </div>
            {{/unless}}{{/each}}
            </div>
        </div>
    
    {{!-- calls the /search route and passes in the user's dropdown selection as request parameters
    allows the user to refine which pigs show up on the pig page --}}
    <form method="POST" id = "searchPigForm" action="/search">
        <select name="pigGender" id="pigGender">
            <option disabled selected value>Gender</option>
            <option>M</option>
            <option>F</option>
        </select>
        <select name="pigColor" id="pigColor">
            <option disabled selected value>Color</option>
            <option>Pink</option>
            <option>Brown</option>
            <option>Gray</option>
            <option>Black</option>
            <option>Spots</option>
        </select>
        <select name="pigAge" id="pigAge">
            <option disabled selected value>Age</option>
            <option>Toddler 1-5</option>
            <option>Teenager 5-10</option>
            <option>Parent 10+</option>
        </select>
        <button type="submit" onClick="dropdownValidation()" class="btn btn-primary">Search</button>
    </form>
    </div>
    <script>
            //dropdown validation function that ensures the user has entered search parameters
            function dropdownValidation() {
                var pigGender = document.getElementById('pigGender').value;
                var pigAge = document.getElementById('pigAge').value;
                var pigColor = document.getElementById('pigColor').value;
                console.log("onclick function run");
                console.log(pigGender, pigAge, pigColor);

                
                if(pigGender == "" && pigAge == "" && pigColor == "") {
                    $('#searchPigForm').one('submit', function (g) {
                        g.preventDefault();
                        swal("Error!", "You didn't enter any search parameters!", "error").then(() => {
                            console.log($('#searchPigForm'));
                            $('#searchPigForm').submit();
                        })
                    })
                    
                    return true;
                }
                else {
                    return false;
                }
            }
    </script>
</body>
