<body>
  <div class="row">
    <div class="col-xs-12">
      <center>
        <div class='pig-header'>
          <h1>Volunteer Requirements </h1>
        </div>
      </center>
      <div class="Volunteer">
        <p>
          <div class="pig-welcome">
            Because of the time and effort it takes to train people to work safely around rescued animals and sanctuary equipment, we
            require that volunteers commit to serve for a reasonable amount of time. To be perfectly honest, the one-time
            or occasional volunteer does not really help us because of the learning curve. It's the regular volunteer who
            "knows the drill" who provides the most effective help. </p>

        <p>
          For important safety reasons, those under age 18 must be accompanied by a parent or guardian. Our volunteer jobs are mostly
          simple but important tasks related to taking care of animals, gardening, and general clean-up. For these kinds
          of jobs you must be in good shape and not suffer from allergies to animals or hay.</p>

        <p>
          Because most of the work on the sanctuary is physical in nature, this is not the right place if you have lower back pain
          or other similar medical issues. If hands-on sanctuary work is not your cup of tea, we also have a variety of volunteer
          opportunities of a clerical or technical nature. Some of them may be done from the comfort of your own home. These
          jobs are just as important as bucking hay or mucking out the barn</p>
        </div>
        <center>
          <div class='pig-header'>
            <h1>What volunteers do </h1>
          </div>
        </center>
        <div class="pig-welcome">
          <p></p>The work needed to be done changes from day to day. Often you will be given one task to perform repeatedly
          all day long. Scoop poop. We do this every day so the animals have a clean home.</p>
          <p> Move cedar chips. High traffic areas are covered in cedar chips as part of our wet winter mud management. Weeding.
            Always needed in the garden or yard. </p>
          <p>
            If you have this skill we love you! Seasonal work may be: Moving gravel Moving hay bales Painting barns Digging ponds Fence
            repair Do you have a specialized skill? We need your help! Plumber Electrician Drywall installer Sign maker Carpenter
            Landscaper
          </p>
        </div>
        <center>
          <div class='pig-header'>
            <h1>Sign up now </h1>
          </div>
        </center>

        <p>
          <center>If you're interested in being engaged with our rescues. Please
            <a href="/contactus">click here</a> to sign up.
            <center>
        </p>
      </div>
    </div>
  </div>
</body>