{{!-- Pig Search Page. Will Replace Repeated Divs With Handlebars Loop --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 text-center">
                <div class="thumbnail pig-container">
                    <img src="http://www.ironwoodpigs.org/images/baby-girl.jpg" alt="Baby Girl">
                    <div class="caption">
                        <h3>Baby Girl</h3>
                        <div>I am 7 years old. I hate the cold and dark. My coat is black and soft!</div>
                        <br/>
                        <a href="#" class="btn btn-primary" role="button">Adopt Me</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 text-center">
                <div class="thumbnail pig-container">
                    <img src="http://www.ironwoodpigs.org/images/christine-and-karter.jpg" alt="Christine and Karter">
                    <div class="caption">
                        <h3>Christine & Carter</h3>
                        <div>We are 3 year old twins! We love apples and carrots. Our coats are like mini cows!</div>
                        <br/>
                        <a href="#" class="btn btn-primary" role="button">Adopt Me</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 text-center">
                <div class="thumbnail pig-container">
                    <img src="http://www.ironwoodpigs.org/images/paisley-mae.jpg" alt="Pasile Mae">
                    <div class="caption">
                        <h3>Paisle Mae</h3>
                        <div>I'm a 5 years old. I love running around with kids. My coat is beautiful, soft and pink</div>
                        <br/>
                        <a href="#" class="btn btn-primary" role="button">Adopt Me</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 text-center">
                <div class="thumbnail pig-container">
                    <img src="http://www.ironwoodpigs.org/images/dexter.jpg" alt="Dexter">
                    <div class="caption">
                        <h3>Dexter</h3>
                        <div>I'm a 4 years old. I love laying in the shade underneath the trees. My coat is rough, but my heart is soft!</div>
                        <br/>
                        <a href="#" class="btn btn-primary" role="button">Adopt Me</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3 text-center">
                <div class="thumbnail pig-container">
                    <img src="http://www.ironwoodpigs.org/images/paisley-mae.jpg" alt="Pasile Mae">
                    <div class="caption">
                        <h3>Paisle Mae</h3>
                        <div>I'm 5 years old. I love running around with kids. My coat is beautiful, soft and pink</div>
                        <br/>
                        <a href="#" class="btn btn-primary" role="button">Adopt Me</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 text-center">
                <div class="thumbnail pig-container">
                    <img src="http://www.ironwoodpigs.org/images/paisley-mae.jpg" alt="Pasile Mae">
                    <div class="caption">
                        <h3>Paisle Mae</h3>
                        <div>I'm 5 years old. I love running around with kids. My coat is beautiful, soft and pink</div>
                        <br/>
                        <a href="#" class="btn btn-primary" role="button">Adopt Me</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 text-center">
                <div class="thumbnail pig-container">
                    <img src="http://www.ironwoodpigs.org/images/paisley-mae.jpg" alt="Pasile Mae">
                    <div class="caption">
                        <h3>Paisle Mae</h3>
                        <div>I'm 5 years old. I love running around with kids. My coat is beautiful, soft and pink</div>
                        <br/>
                        <a href="#" class="btn btn-primary" role="button">Adopt Me</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 text-center">
                <div class="thumbnail pig-container">
                    <img src="http://www.ironwoodpigs.org/images/paisley-mae.jpg" alt="Pasile Mae">
                    <div class="caption">
                        <h3>Paisle Mae</h3>
                        <div>I'm 5 years old. I love running around with kids. My coat is beautiful, soft and pink</div>
                        <br/>
                        <a href="#" class="btn btn-primary" role="button">Adopt Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <select class="form-control" id="gender">
        <option>Gender</option>
        <option>Male</option>
        <option>Female</option>
      </select>
        
      <select class="form-control" id="color">
        <option>Color</option>
        <option>Pink</option>
        <option>Brown</option>
        <option>Gray</option>
        <option>Black</option>
        <option>Spots</option>
      </select>

      <select class="form-control" id="age">
        <option>Age</option>
        <option>Toddler</option>
        <option>Teenager</option>
        <option>Parent</option>
      </select>


</body>

</html>